@tailwind base;
@tailwind components;
@tailwind utilities;

@media screen(lg) {
  .bg-hero {
    width: 2000px;
    height: 350px;
    left: 30%;
    @apply absolute rounded-l-full top-52 bg-softBlue;
  }
  .bg-tabs {
    width: 2000px;
    height: 300px;
    right: 60%;
    @apply absolute rounded-r-full top-60 bg-softBlue;
  }
}

.ficon:hover {
  filter: invert(80%) sepia(70%) saturate(3803%) hue-rotate(350deg)
    brightness(120%) contrast(96%)
}
